.App {
    width: 450px;
    margin: 20px auto;
    min-height: 500px;
    background: linear-gradient(#03337b, #d4b3ff);
    color: #FFF;
    padding: 20px;
    border-radius: 5px;
}
.App ul {
    list-style: none;
    padding: 0;
}
.App input[type='text'] {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #e8f0fe;
    font-size: 22px;
    border: 0;
    border-bottom: 2px solid #ffeb00;
    padding-bottom: 7px;
    margin-top: 20px;
    counter-reset: #FFF;
    border-radius: 5px;
}
.App input[type='text']::placeholder {
    color: #000;
}
.App input[type='text']:focus {
    outline: none;
    background-color: none;
}
.App button {
    background-color: #ffeb00;
    color: #000;
    font-weight: bold;
    padding:  10px 20px;
    border: 0;
    margin-top: 20px;
    border-radius: 3px;
}
.App ul li {
    background: #ffeb00;
    color: #000;
    padding: 10px;
    height: 30px;
    margin-bottom: 20px;
}
.App ul li span {
    float: right;
    font-weight: bold;
}